<!--********************************************************
* File: edit.ejs
* Student: Kevin Eduardo Curiel Justo
* ID: 301214229
* Date: 16/Jun/22
********************************************************/-->

<% include ../partials/header.ejs %>
<style>
    .p3 {
      font-family: "Lucida Console", "Courier New", monospace;
    }
    
</style>

<div class = "container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class = "form" method="POST">
                    <div class="form-group">
                        <input type="hidden"
                            name="id"
                            value="<%= item._id %>"
                        >
                        <label for="itemTextField">Item Name</label>
                        <input type="text" class="form-control"
                            id="itemTextField"
                            placeholder = "Enter the Item Name"
                            name="name"
                            value="<%= item.name %>"
                            required>
                    </div>
                <br />
                    <div class="form-group">
                        <label for="NumTextField">Number</label>
                        <input type="text" class="form-control"
                        id="NumTextField"
                        placeholder = "00"
                        name="number"
                        value="<%=item.number %>"
                        required>
                    </div>
                <br />
                    <div class="form-group">
                        <label for="EmailTextField">Email</label>
                        <input type="text" class="form-control"
                        id="EmailTextField"
                        placeholder = "00"
                        name="email"
                        value="<%=item.email %>"
                        required>
                    </div>
                <br />

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>
                    Submit
                </button>

                <a href="/businesscontacts/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>
                    Cancel
                </a>
                
                <a href="/businesscontacts/delete/<%= item._id %>" class="btn btn-danger">
                    <i class="fas fa-undo"></i>
                    Delete
                </a>
            </form>
        </div>
    </div>
</div>